<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.prueba_tegnica.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.example.prueba_tegnica.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_apk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_apk"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:theme="@style/Theme.Prueba_tegnica"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Mueve este bloque dentro de la actividad -->
            <intent-filter>
                <action android:name="com.example.prueba_tegnica.ACCION_NOTIFICACION_PUSH"/>
                <category android:name="android.intent.category.NOTIFICACION"/>
            </intent-filter>
        </activity>

        <service
            android:name=".application.MiServicio"
            android:exported="false"/>
    </application>

</manifest>